body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif, 'Archivo Narrow',"Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  font-size: .9em;
    text-align: left;
    letter-spacing: .01em;
  /*background: #fff;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
